### Rename this file if you want to use it
---
Name: nw-app-fluent-setup-example
After: '#versionedfiles'
---

NobrainerWeb\App\Fluent\DefaultLocalesTask:
  default_locales:
    da_DK:
      IsGlobalDefault: 1
      Title: 'Dansk'
      URLSegment: 'da'
    en_GB:
      Title: 'English'
      URLSegment: 'en'